{% extends 'mailing/base.html' %}

{% block content %}

<div class="col-lg-6 col-md-8 mx-auto">
    <div class="card shadow-sm">
        <div class="card-body bg-secondary mb-3">
            <p class="text-white">Рассылка - {{ mailing.mailing_title }}</p>
            <div class="card shadow-sm">
                <p class="card-text-dark">{{ mailing.mailing_message.message_text }}</p>
            </div>
            <br>
            <div class="d-flex justify-content-between align-items-center">
                <div class="card shadow-sm">
                    <div class="btn-group">
                        {% if request.user == mailing.mailing_owner %}
                        <a type="button" class="btn btn-sm btn-outline-secondary"
                           href="{% url 'mailing:edit_mailing' pk=object.id %}">Edit</a>
                        <a type="button" class="btn btn-sm btn-outline-danger"
                           href="{% url 'mailing:delete_mailing' pk=object.id %}">Delete</a>
                        {% endif %}
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

{% endblock %}