{% extends 'mailing/base.html' %}

{% block content_1 %}
<div class="row py-lg-2">
    <div class="col-lg-11 col-md-8 mx-auto">
        {% if user.is_authenticated %}
        <a class="btn btn-outline-primary" href="{% url 'blog:create_blog' %}">Создать статью</a>
        {% else %}
        <a class="btn btn-outline-primary">Создавать статьи могут только зарегистрированные пользователи</a>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block content %}

{% for blog in object_list %}
<div class="col-lg-6 col-md-8 mx-auto">
    <div class="row text-center">
        <div class="col-12">
            <div class="card mb-6 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h5 class="my-0 fw-normal">Статья - {{ blog.blog_title }}
                        ({{ blog.blog_text|truncatechars:50 }})</h5>
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <button class="w-100 btn btn-primary" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseExample{{ forloop.counter }}" aria-expanded="false"
                                aria-controls="collapseExample">
                            Развернуть/свернуть
                        </button>
                        <div class="collapse" id="collapseExample{{ forloop.counter }}">
                            <div class="card card-body">
                                Количество просмотров - {{ blog.blog_views_count }}
                            <br>
                                Автор статьи - {{ blog.blog_owner }}
                            <br>
                            </div>
                            <br>
                            <div class="col">
                                <a type="button" class="btn btn-lg btn-outline-success"
                                   href="{% url 'blog:blog_detail' pk=blog.id %}">View</a>
                                {% if request.user == blog.blog_owner or request.user.is_staff %}
                                <a type="button" class="btn btn-lg btn-outline-warning"
                                   href="{% url 'blog:edit_blog' pk=blog.id %}">Edit</a>
                                <a type="button" class="btn btn-lg btn-outline-danger"
                                   href="{% url 'blog:delete_blog' pk=blog.id %}">Delete</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
{% endfor %}

{% endblock %}