{% extends 'mailing/base.html' %}

{% block content %}

<div class="col-lg-6 col-md-8 mx-auto">
    <div class="card shadow-sm">
        <div class="card-body bg-secondary mb-3">
            <p class="text-white">Статья - {{ blog.blog_title }}</p>
            <div class="card shadow-sm">
                <p class="card-text-dark">{{ blog.blog_text }}</p>
            </div>
            <div class="col-5">
                <div class="card-md-4">
                    <div class="card-header">
                        <img class="card-img-top"
                             src="/media/{{ blog.blog_preview }}"
                             alt="Card image cap"/>
                    </div>
                </div>
            </div>
            <br>
            <div class="d-flex justify-content-between align-items-center">
                <div class="card shadow-sm">
                    <div class="btn-group">
                        {% if request.user == blog.blog_owner or request.user.is_staff %}
                        <a type="button" class="btn btn-sm btn-outline-secondary"
                           href="{% url 'blog:edit_blog' pk=blog.id %}">Edit</a>
                        <a type="button" class="btn btn-sm btn-outline-danger"
                           href="{% url 'blog:delete_blog' pk=blog.id %}">Delete</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}