{% extends 'mailing/base.html' %}

{% block content %}

    {% for object in object_list %}
    <div class="col-lg-3 col-md-6 mx-auto">
        <div class="card shadow-sm">
            <div class="card-body">
                <p class="card-text">{{ object }}</p>
                {% if object.is_superuser == False %}
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a type="button" class="btn btn-sm btn-outline-secondary"
                                href="{% url 'users:user_detail' pk=object.id %}">View</a>

                        {% if perms.users.delete_user %}
                        <a type="button" class="btn btn-sm btn-outline-danger"
                                href="{#}">Delete</a>
                        {% endif %}
                    </div>
                    {% if perms.users.change_user %}
                        {% if object.is_active %}
                            <a class="btn btn-warning" href="{% url 'users:toggle_activity' pk=object.id %}">Деактивировать</a>
                        {% else %}
                            <a class="btn btn-success" href="{% url 'users:toggle_activity' pk=object.id %}">Активировать</a>
                        {% endif %}
                    {% endif %}
                </div>
                {% else %}
                <h4 class="card-title">Доступ закрыт</h4>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}

{% endblock %}